<form
  class="formCadEvent"
  [formGroup]="formEventRegister"
  (ngSubmit)="onSubmitEventRegisterForm()"
>
  <div class="formInputs">
    <div class="wrapperInputCustom">
      <app-input-wlabel
        labelName="Nome do Evento"
        name="name"
        borderColor="#fff"
        (InputTyping)="onChangeValue($event)"
      ></app-input-wlabel>
    </div>

    <div class="formDate">
      <section>
        <div class="wrapperInputCustom">
          <app-input-wlabel
            placeholder="DD/MM/AAAA"
            labelName="Data do Evento"
            borderColor="#fff"
            name="date"
            type="date"
            (InputTyping)="onChangeValue($event)"
          ></app-input-wlabel>
        </div>
      </section>
      <section>
        <div class="wrapperInputCustom">
          <app-input-wlabel
            placeholder="00:00"
            labelName="Hora do Evento"
            borderColor="#fff"
            fontColor="#fff"
            name="time"
            type="time"
            (InputTyping)="onChangeValue($event)"
          ></app-input-wlabel>
        </div>
      </section>
    </div>

    <div class="wrapperInputCustom">
      <label for="categoria">Categoria do evento</label>
      <select formControlName="category">
        <option>CATEGORIA 1</option>
        <option>CATEGORIA 2</option>
        <option>CATEGORIA 3</option>
      </select>
    </div>

    <div class="wrapperInputCustom">
      <label for="local">Local do evento</label>
      <select formControlName="local">
        <option>LOCAL 1</option>
        <option>LOCAL 2</option>
        <option>LOCAL 3</option>
      </select>
    </div>

    <div class="wrapperInputCustom">
      <label for="description">Descrição do evento</label>
      <textarea formControlName="description"></textarea>
    </div>
    <button type="submit" class="submit">submit</button>
  </div>
  <div class="formImgContainer">
    <label for="image"><img src="assets/svg/camera.svg" alt="camera" /></label>
    <input formControlName="image" id="image" type="file" class="inputImg" />
  </div>
</form>
