<form
  class="formCadAdmin"
  [formGroup]="formAdminRegister"
  (ngSubmit)="onSubmitAdminRegisterForm()"
>
  <app-input-wlabel
    labelName="Nome"
    name="name"
    type="text"
    (InputTyping)="onChangeValue($event)"
  ></app-input-wlabel>

  <app-input-wlabel
    labelName="Email"
    name="email"
    type="text"
    (InputTyping)="onChangeValue($event)"
  ></app-input-wlabel>

  <app-wrapper-showpassword (ClickEmit)="changeViewPassword($event)">
    <app-input-wlabel
      labelName="Senha"
      name="password"
      [type]="passwordType"
      (InputTyping)="onChangeValue($event)"
    ></app-input-wlabel>
  </app-wrapper-showpassword>

  <app-wrapper-showpassword (ClickEmit)="changeViewConfirmPassword($event)">
    <app-input-wlabel
      labelName="Confirme a Senha"
      name="confirmPassword"
      [type]="confirmPasswordType"
      (InputTyping)="onChangeValue($event)"
    ></app-input-wlabel>
  </app-wrapper-showpassword>

  <!-- colocar aqui o componente de botao no lugar do submit quando estiver pronto -->
  <button type="submit">submit</button>
</form>
