.cadAdminDiv {
  color: #ffffff;
  max-height: 20em;
  max-width: 20em;
}

.title {
  font-size: 2em;
  display: block;
  margin-top: 3em;
  margin-bottom: 0.8em;
}

.subtitle {
  font-size: 0.7em;
}

.subtitle a{
  text-decoration: none;
  cursor: pointer;
  color: #f7bc03;
}
