.cadAdminDiv {
  color: #ffffff;
  max-height: 40em;
  max-width: 30em;
  padding: 0 5em;
}

.wrapper {
  position: relative;
  z-index: 10;
}

.subtitle a {
  text-decoration: none;
  cursor: pointer;
  color: #f7bc03;
}
