/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

.bodyOverflowBackground {
  overflow-x: hidden;
  overflow-y: hidden;
}

.circle_background {
  clip-path: circle(50.4% at 50% 50%);
}

:root {
  --dark-blue: #2b3559;
  --wave-blue: #3e4a78;
  --blue-duck: #33c4cb;
  --orange-frog: #f76b00;
  --yellow-cat: #f7bc03;
  --gray-ai: #d2e3f3;
  --gray: #f5f9fc;
  --white: #ffffff;

  font-family: "Jura", serif;
}
