/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.image_background{
  clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 100% 100%, 100% 100%, 23.5% 100%, 21% 80%, 10.9% 0);
}

body{
  overflow-x: hidden;
  overflow-y: hidden;
}
