/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

.bodyOverflowBackground {
  overflow-x: hidden;
  overflow-y: hidden;
}

.circle_background {
  clip-path: circle(50.4% at 50% 50%);
}

.image_background {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 40%,
    100% 100%,
    100% 100%,
    23.5% 100%,
    21% 80%,
    10.9% 0
  );
}

@media screen and (min-width: 700px) {
  .image_background {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 40%,
      100% 100%,
      100% 100%,
      23.5% 100%,
      26% 100%,
      14.6% 0
    );
  }
}

@media screen and (min-width: 1200px) {
  .image_background {
    clip-path: polygon(
      10% 0%,
      100% 0%,
      90% 40%,
      90% 100%,
      100% 100%,
      23.5% 100%,
      21% 80%,
      10.9% 0
    );
  }
}
